/*
  Project name(项目名称)：CSS_resize 
  File name(文件名): t
  Author(作者）: mao
  Author QQ：1296193245
  GitHub：https://github.com/maomao124/
  Date(创建日期)： 2022/2/19 
  Time(创建时间)： 20:31
  Version(版本): 1.0
  Description(描述)：
  CSS3 中新增了一个非常实用的 resize 属性，该属性允许用户通过拖动的方式来自由缩放元素的尺寸，在此之前要实现类似的效果还需要借助大量的 JavaScript 代码。resize
resize: none|both|horizontal|vertical;

none：用户无法调整元素的尺寸；
both：用户可调整元素的高度和宽度；
horizontal：用户可调整元素的宽度；
vertical：用户可调整元素的高度。

在使用 resize 属性时还需要注意以下几点：
单独设置 resize 属性是无效的，resize 属性需要与 overflow 属性结合使用才有效，并且 overflow 属性的值需要设置为 auto、hidden 或 scroll；
并不是所有的元素都可以设置 resize 属性，比如 img 和 table 属性就没办法使用 resize 属性。
 */

div
{
    border: 1px solid;
    width: 500px;
    height: 500px;
    resize: both;
    overflow: auto;
}